extends layout

block content
    h2= data.nama
    hr
    form.form-vertical(role='form', action=data.action, method='post')
        input(type="hidden", name="_id", value=data.value._id)
        .form-group
            label.control-label(for="nama_lengkap") Nama Lengkap
            input.form-control(type="text", placeholder='Masukkan nama lengkap', name="nama_lengkap", value=data.value.nama_lengkap)
        .form-group
            label.control-label(for="nama_lengkap") Email
            input.form-control(type="email", placeholder='Masukkan email', name="email", value=data.value.email)
        .form-group
            label.control-label(for="nama_lengkap") Password
            input.form-control(type="password", placeholder='Masukkan password', name="password", value=data.value.password)
        .form-group
            label.control-label(for="nama_lengkap") Jenis Kelamin
            input.form-control(type="text", placeholder='Masukkan jenis kelamin', name="jk", value=data.value.jk)
        .form-group
            label.control-label(for="nama_lengkap") Tanggal Lahir
            input.form-control(type="text", placeholder='Masukkan tanggal lahir', name="tgl_lahir", value=data.value.tgl_lahir)
        .form-group
            label.control-label(for="nama_lengkap") Telepon
            input.form-control(type="text", placeholder='Masukkan telepon', name="telepon", value=data.value.telepon)
        .form-group
            label.control-label(for="nama_lengkap") Foto
            input.form-control(type="text", placeholder='Masukkan foto', name="foto", value=data.value.foto)
        .form-group
            input.btn.btn-primary(type="submit", name="submit", value="Simpan")